/* SMARTPHONES PORTRAIT */
@media only screen and (min-width: 300px) {
    .logo{
        img{
            width: 40%;
            margin-bottom: 3.4rem;
        }
    }
}

/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (min-width: 1024px) {
    .logo{
        img{
            margin: 0;
            width: 15%;
            margin-bottom: 4rem;
        }
    }
}
